.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;

    height: 50px;

    padding: 7px 20px;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

    border-left: 10px solid #80CB27;
    border-radius: 10px;

    margin-top: 20px;
}